In [1]:
import pandas as pd

In [2]:
students = ['Alice', 'Jack', 'Molly']

pd.Series(students)

0    Alice
1     Jack
2    Molly
dtype: object

In [4]:
# Let's create a little list of numbers

numbers = [1, 2, 3]
# And turn into series
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [5]:
students = ['Alice', 'Jack', None]
pd.Series(students)

0    Alice
1     Jack
2     None
dtype: object

In [6]:
# However, if we create a list of numbers, integers or floats, and put in the None type, pandas automatically converts this
# to a special floating point value designated as NaN, which stands for "Not a Number"
numbers = [1, 2, None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [7]:
# NaN is "NOT" equivalent to None and when we try the equality test, the result is False.

# Let's bring in numpy which allows us to generate an NaN value
import numpy as np
# And lets compare it to None
np.nan == None

False

In [8]:
# Instead, you need to use special functions to test for the presence of not a number, such as the Numpy library isnan().

np.isnan(np.nan)

True

In [9]:
# A series can be created directly from dictionary data. If you do this, the index is automatically assigned to the keys of 
# the dictionary data. If you do this, the index is automatically assigned to the keys of the dictionary that you provided
# and not just incrementing integers

students_scores = {'Alice': 'Physics',
                  'Jack': 'Chemistry',
                  'Molly': 'English'}
s = pd.Series(students_scores)
s

Alice      Physics
Jack     Chemistry
Molly      English
dtype: object

In [10]:
s.index

Index(['Alice', 'Jack', 'Molly'], dtype='object')

In [11]:
# Let's create a list of tuples
students = [('Alice', 'Brown'), ('Jack', 'White'), ('Molly', 'Green')]
pd.Series(students)

0    (Alice, Brown)
1     (Jack, White)
2    (Molly, Green)
dtype: object

In [12]:
# You can also separate your index creation from the data by passing in the index as a list explicitly to the series

s = pd.Series(['Physics', 'Chemistry', 'English'], index=['Alice', 'Jack', 'Molly'])
s

Alice      Physics
Jack     Chemistry
Molly      English
dtype: object

In [13]:
students_scores = {'Alice': 'Physics',
                  'Jack': 'Chemistry',
                  'Molly': 'English'}
s = pd.Series(students_scores, index=['Alice', 'Molly', 'Sam'])
s

Alice    Physics
Molly    English
Sam          NaN
dtype: object

# Pandas: Second lesson

In [14]:
# A pandas Series can be queried either by the index position or the index label. If you don't give an index
# to the series when querying, the position and the label are effectively the same values. To query by numeric location,
# starting at zero, use the iloc attribute. To query by the index label, you can use the loc attribute

# Let's start with an example. We'll use students enrolled in classes coming from a dictionary 
student_classes = {'Alic': 'Physics',
                  'Jack': 'Chemistry',
                  'Molly': 'English',
                  'Sam': 'History'}
s = pd.Series(student_classes)
s

Alic       Physics
Jack     Chemistry
Molly      English
Sam        History
dtype: object

In [15]:
# So this series, if you wanted to see the fourth entry we would use the iloc attribute with the parameter 3.
s.iloc[3]

'History'

In [16]:
# If you wanted to see what class Molly has, we would use the loc attribute with a parameter of Molly
s.loc['Molly']

'English'